# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow directories
!*/

# Allow init script
!init.sh

# Allow list for dotfiles
!.zshrc

# Allow list for directories
!.zsh/**
!.config/mise/**
!.config/htop/**