[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:ShockleyJE/init.lua.git
[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme.git
[submodule "vim/.vim/plugged/ayu-vim"]
	path = vim/.vim/plugged/ayu-vim
	url = git@github.com:ayu-theme/ayu-vim.git
