# # Ignore everything by default
# *

# # Allow the .gitignore file itself
# !.gitignore

# # Allow directories
# !*/

# # Allow init script
# !init.sh

# # Allow list for dotfiles/ specific files
# !.zshrc
# !.vimrc
# !.vim/autoload/plug.vim

# # Allow list for directories
# !zsh/**
# !mise/**
